.ipynb_checkpoints/
domains
saved_models*
results/
.DS_Store
.env
*.csv
.idea/
logs/
wandb
trained_pefts
*venv
__pycache__*
*.sh
training_*_peft.sh
testing_*.sh
summaries/
api.key
*.jsonl
.cache/
json_data/
.uuid